@import url('https://fonts.googleapis.com/css2?family=Joan&display=swap');

*{
    font-family: 'Joan', serif;
}

.css-1dcidbk{
    /* font-family: 'Joan', serif; */
    font-family: "LXGW WenKai TC", cursive;
    color: #fff;
}

@media screen and (max-width: 768px)
{
.css-y40yff {
    padding: 30px;
    color: rgb(255, 255, 255);
    display: flex;
    padding: 60px;
    border-radius: 15px;
    background-color: rgb(12, 23, 47);
    box-sizing: border-box;
    margin-bottom: 60px;
}}

@media screen and (max-width: 34.9em){
.ais-SearchBox-form, .ais-SearchBox-load, .ais-SearchBox__wrapper, .bt-milestone-head, .card-list, .card-list-head, .carousel, .category-accordion, .container, .default-component, .favourite-content, .fb-comments, .filter-head .page-desc, .footer-container, .header-large .header-detail, .header-regular, .horizontal-scroll-container.category, .image-grid .image-list, .item-card:not(.list-card), .module-head, .page-banner, .panel-container, .partner-list, .paytm-content, .search-form, .search-load, .search__wrapper, .text-action-container, .user-tab-head, .video {
    width: 88vw;
}
.ais-SearchBox-form, .ais-SearchBox-load, .ais-SearchBox__wrapper, .bt-milestone-head, .card-list, .card-list-head, .carousel, .category-accordion, .container, .default-component, .favourite-content, .fb-comments, .filter-head .page-desc, .footer-container, .header-large .header-detail, .header-regular, .horizontal-scroll-container.category, .image-grid .image-list, .item-card:not(.list-card), .module-head, .page-banner, .panel-container, .partner-list, .paytm-content, .search-form, .search-load, .search__wrapper, .text-action-container, .user-tab-head, .video {
    margin-left: auto;
    margin-right: auto;
}
article, aside, details, figcaption, figure, footer, header, main, menu, nav, section, summary {
    display: block;
}
}

*, :after, :before {
    box-sizing: inherit;
}

section {
    display: block;
}

body {
    font-family: Inter, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.accordion-title .icon-plus:before, .bt-milestone-carousel .box-title, .bt-milestone-head .title-desc, .bt-milestone-head .title-extra, .card-list-head .title-desc, .card-list-head .title-extra, .city-list-each a, .default-message, .detail-table, .footer, .footer-links-title, .modal-head p, .module-head .title-desc, .module-head .title-extra, .payment-each, .social-button:before, .text-release, .text .detail-list li img~p, .user-content, .user-email, .user-preview-list-each a, .user-signout, .user-tab-head .title-desc, .user-tab-head .title-extra, body {
    font-size: 12px;
}

html {
    font-family: sans-serif;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    height: 100%;
    font-size: 1vw;
}

.css-7x2xv2 {
    display: flex;
    flex-direction: column;
    -webkit-box-pack: center;
    justify-content: center;
    order: 2;
}

.css-y40yff {
    color: rgb(255, 255, 255);
    display: flex;
    padding: 60px;
    border-radius: 15px;
    background-color: rgb(12, 23, 47);
    box-sizing: border-box;
    margin-bottom: 60px;
}

@media screen and (max-width: 768px){
.css-hd5bpz {
    width: 165px;
    height: 165px;
}
}

img {
    border-style: none;
    overflow-clip-margin: content-box;
    overflow: clip;
}

.css-jbfrby {
    display: flex;
    flex-direction: column;
    -webkit-box-pack: center;
    justify-content: center;
    order: 1;
    padding-right: 30px;
}

div {
    display: block;
}

.css-1dcidbk {
    font-size: 28px;
    font-weight: 700;
    text-transform: uppercase;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

h3 {
    display: block;
    font-size: 1.17em;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

.css-eagu6t {
    font-family: "Merienda", cursive;
    text-align: center;
    color:gold;
    font-size: 20px;
    margin-top: 30px;
}

li, ol, p, ul {
    font-family: inherit;
    margin: 0;
}

p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

.css-pwlugj {
    text-align: center;
    font-family: "Merienda", cursive;
    font-size: 16px;
    margin-top: 9px;
}