/* feedback.css */

body {
  font-family: 'Joan', serif;
  background-color: #ffecec;
  margin: 0;
}

.feedback-container {
  max-width: 450px;
  margin: 30px auto;
  padding: 20px;
  background-color: rgb(255, 255, 255);
  border-radius: 8px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s;
}

.feedback-container:hover {
  transform: scale(1.02);
}

h2 {
  text-align: center;
  color: #3d3d3d;
  font-size: 25px;
}

form {
  display: flex;
  flex-direction: column;
}

label {
  margin-bottom: 8px;
  font-weight: bold;
}

input[type='text'],
input[type='email'],
textarea,
select {
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #948d8d;
  border-radius: 4px;
  font-size: 16px;
  transition: border-color 0.3s;
}

input[type='text']:focus,
input[type='email']:focus,
textarea:focus,
select:focus {
  border-color: #8e24aa;
}

textarea {
  resize: vertical;
  min-height: 100px;
}

.rating {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.star {
  font-size: 36px;
  color: rgb(155, 154, 154);
  cursor: pointer;
  transition: color 0.3s;
  margin: 0 5px;
}

.star.selected {
  color: gold;
}

.star:hover {
  color: gold;
}

button {
  padding: 10px;
  background-color: #f7b09c;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s, transform 0.3s;
}

button:hover {
  background-color: #fa6c5f;
  transform: translateY(-2px);
}

button:active {
  transform: translateY(1px);
}
